body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: green;
    text-decoration: none;
}

img, iframe, video{
    max-width: 100%;
}

.text-center {
    text-align: center;
}
.post-teaser {
    display: flex;
    justify-content: center;
}
.img-border{
    border-radius: 15px;
    border: 5px solid lavender;
}
/* header */
header {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>img {
    border: 5px solid lavender;
    border-radius: 100%;
    background-color: lavender;
}

header>div {
    margin-left: 20px;
}

header>div>h1 {
    margin-top: 5px;
}

header>div>p {
    color: #777;
}

.header-nav{
    margin-top: 15px;

}
.header-nav>a {
    margin-right: 30px;
    font-weight: bold;
}

.current {
    color: limegreen;
}

/* section */
section {
    margin: auto;
    max-width: 800px;
    align-self: center;
}

section>h1 {
    text-align: center;
}

/* blogPosts */
.blogPosts {
    padding: 0;
}

.blogPosts>li {
    list-style-type: none;
}

.blogPosts>li>span>h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    margin-top: 25px;
}

.blogPosts>li>span>h2>span {
    margin-left: 8px;
    white-space: nowrap;
}

.blogPosts>li>div {
    display: flex;
    align-items: center;
}

.blogPosts>li>div>img {
    background-color: lavender;
    margin-right: 25px;
}

.blogPosts-date {
    font-weight: normal;
    color: #777;
    font-size: medium;
}

/* projects */
.project-container{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.project{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    min-width: 160px;
    max-width: 250px;
    background: #ebfaf6;
    box-shadow: rgba(0, 100, 116, 0.16) 0px 1px 3px, rgba(0, 37, 37, 0.28) 0px 1px 2px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project > div {
    margin: 0px 16px 16px 16px;
}
.project > a {
    margin-top: auto;
    width: 100%;
}
.project > a > img {
    display: block;
} 

/* social */
.social > a{
    margin-right: 7px;
}
.social > a :hover {
    filter: opacity(.7);
}

/* elements */
.img-container{
    display: flex;
    flex-wrap: wrap;
}
.img-container > img {
    width: 25%;
    object-fit: cover;
    vertical-align: bottom;
    flex-grow: 1;
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }
    .img-container > img {
        width: 50%;
    }
    header > div {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogPosts>li>div {
        flex-direction: column;
    }
}